@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  color: #333;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
  background: #eee;
}
header {
  /* overflow: hidden; */
  padding: 5px 0;
  background: rgb(163, 216, 179);
}
header h1 {
  float: left;
}
header nav {
  float: right;
}
header nav ul {
  padding-top: 10px;
  background: #34a3ff;
}
header nav li {
  float: left;
  margin-left: 30px;
}
main {
  overflow: hidden;
}
main .cont {
  float: left;
  width: 30%;
  height: 200px;
  margin-right: 5%;
  background: #ffe4e4;
  border: 1px solid #000;
}
main .cont3 {
  margin-right: 0;
}
footer {
  height: 100px;
  background: #ffa1a1;
}
footer .foot1 {
  float: left;
}
footer .foot2 {
  text-align: center;
}
footer .foot3 {
  float: right;
  margin-top: -25px;
}
/* float는 left밖에 못 함, flex처럼 못 하고 다 맞춰줘야함 */
/* flex는 최신기술 */
