@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  color: #222328;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  display: block;
  width: 200px;
  height: 40px;
}
.gnb .depth1 {
  display: flex;
  position: relative;
}
.gnb .depth1 > li {
  position: relative;
}
.gnb .depth1 > li > a {
  display: block;
  height: 100px;
  padding: 0 50px;
  line-height: 100px;
  /* background: #eefaac;
  border: 1px solid #000; */
  text-align: center;
}
.gnb .depth1 > li:hover > a {
  /* background: #e7b882; */
  border-bottom: 5px solid #0060ff;
}
.gnb .depth1 > li:last-child .depth2 {
  border-right: 1px solid #000;
}
/* gnb 마우스 오버 후  */
.gnb .depth1:hover .depth2 {
  display: block;
  max-height: 300px;
  /* padding: 10px 0; */
  border-bottom-width: 1px;
}
/* nav  depth2 */
/* gnb 마우스 오버 전  */
.gnb .depth2 {
  /* display: none; */
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  max-height: 0;
  /* padding: 0; */
  background: #ffffff;
  border-bottom: 0px solid #b8b8b8;
  border-right: none;
  transition: all 0.3s;
}
/* 가상공간을 만들어서 depth2에 구분선을 넣어줌 */
.gnb .depth2::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 5px;
  width: 1px;
  background: rgba(0, 0, 0, 0.5);
  /* 구분선은 블랙으로 설정하고 a로 조절해줌 회바회  */
}
/* li 악세사리의 우측 선 없애줌 */
.gnb .depth1 > li:last-child .depth2::after {
  display: none;
}
.gnb .depth2 a {
  display: block;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.gnb .depth2 a:hover {
  /* border-bottom: 3px solid #000; */
  background: #0060ff;
  color: #fff;
}

/* slide */
.slide-wrap a,
.slide-wrap img {
  display: block;
}
.slide-wrap {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.lst-slide {
  position: absolute;
  top: 0;
  left: 0;
}
/* contents */
.contents {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
/* tab */
.tabs-wrap {
  position: relative;
  display: flex;
  width: calc(100% / 2 - 230px);
}
.tabs-wrap .tab-item {
  width: 50%;
}
/* 비활성화 tab */
.tabs-wrap .tab-item .tit {
  height: 50px;
  padding-top: 15px;
  border-bottom: 2px solid #000;
  background: #bbbbbb;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
}
/* 활성화 tab*/
/* .tabs-wrap .tab-item.on .tit보다는 .on으로 작성 */
.tabs-wrap .on .tit {
  background: #d4e4f2;
  color: #333;
}
.tabs-wrap .tab-item .cont {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 130px;
  /* background: #a698b4; */
}
.tabs-wrap .on .cont {
  display: block;
}
.lst-bbs {
  padding-top: 13px;
}
.lst-bbs li {
  display: flex;
  align-items: center;
}
.lst-bbs li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-top: -1px;
  margin-right: 10px;
  background: #000;
}
.lst-bbs li a {
  display: block;
  line-height: 2;
}
.lst-bbs li a:hover {
  text-decoration: underline;
}

/* 갤러리 */
.lst-gallery {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.lst-gallery li {
  width: 100px;
}
.lst-gallery li p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bnr {
  width: 400px;
}
.bnr a,
.bnr img {
  display: block;
}
.goto {
  width: calc(100% / 2 - 230px);
}
.goto ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 180px;
}
.goto li {
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  background: #8d3a3a;
}
.goto a {
  display: block;
  height: 100%;
  background: #ccd5ec;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-top: 1px solid #d7d7d7;
}
.lst-sns {
  display: flex;
}
.lst-sns li {
  margin-left: 20px;
}
.logo-foot a {
  display: flex;
  height: 100px;
  align-items: center;
}
.lst-sns a {
  display: block;
  height: 100px;
  line-height: 100px;
}

/* modal */
.modal-dimmed {
  display: none;
  /* display: flex하면 모달창 뜸-> js로! */
  justify-content: center;
  align-items: center;
  position: fixed;
  /* fixed 뷰포트(브라우저) 기준 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
.modal-box {
  width: 500px;
  height: 300px;
  padding: 30px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}
.modal-box h3 {
  margin-bottom: 30px;
  font-size: 24px;
}
.modal-box button {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
