@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  color: #222328;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
  background: #f7e1e1;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background: #fff;
}
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  display: block;
  width: 200px;
  height: 40px;
}
.gnb .depth1 {
  display: flex;
}
.gnb .depth1 > li > a {
  display: block;
  height: 100px;
  padding: 0 50px;
  line-height: 100px;
  /* background: #eefaac;
  border: 1px solid #000; */
  text-align: center;
}
.gnb .depth1 > li > a:hover {
  /* background: #e7b882; */
  border-bottom: 5px solid #0060ff;
}

.gnb .depth1:hover .depth2 {
  display: block;
}
/* nav  depth2 */
.gnb .depth2 {
  display: none;
  padding: 20px 0;
  background: #ffffff;
}
.gnb .depth2 a {
  display: block;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.gnb .depth2 a:hover {
  border-bottom: 3px solid #000;
}

/* slide */
.slide {
  overflow: hidden;
  height: 300px;
}
.slide a,
.slide img {
  display: block;
}

/* contents */
.contents {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.tabs {
  width: calc(100% / 2 - 230px);
}
.bnr {
  width: 400px;
}
.bnr a,
.bnr img {
  display: block;
}
.goto {
  width: calc(100% / 2 - 230px);
}
.goto ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 180px;
}
.goto li {
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  background: #8d3a3a;
}
.goto a {
  display: block;
  height: 100%;
  background: #ccd5ec;
}
